*{
	margin:0px;
	padding:0px;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
	font-family: 'Raleway', sans-serif
  // Safari for OS X and iOS (San Francisco)
  -apple-system,
  // Chrome < 56 for OS X (San Francisco)
  BlinkMacSystemFont,
  // Windows
  "Segoe UI",
  // Android
  "Roboto",
  // Basic web fallback
  "Helvetica Neue", Arial, sans-serif,
  // Emoji fonts
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
	
}
.navbar-nav a{
	font-family: 'Raleway', sans-serif;
	text-align:center;
	padding:2px;
	font-size:15px;
	font-weight: 600;
	text-transform: uppercase;
}
p, h1, h2, h3, h4, h5, h6 {font-family: 'Raleway', sans-serif;}

/* .nav-item{
	width:85px;
} */
.header_img_text{
	background:url(../images/Header-image.jpg) no-repeat;
	background-position:center center;
	overflow:hidden;
	background-attachment:fixed;
	height:560px;
	background-size:cover;
	
}
.gradient_bg {
    padding: 60px 0 30px;
    margin: 40px 0 0;
}
.image-card img {
    max-width: 450px;
}
.headline-text{
padding:200px 0;
color:#FFF;
/* font-weight:bold; */
font-family: 'Raleway', sans-serif;
line-height: 67px;
font-weight: 600;
font-size: 50px;
}
.solutions.bg-light {
    margin-bottom: 95px;
}
.image-card h6 {
    color: #fff;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    letter-spacing: 5px;
    /* border: 2px #1e1d20 dotted; */
    margin: 32px 64px;
    background: #7041b1;
}
.bg-blue {
    background-color: #6b38e1 !important;
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.8);
}
.change-weight-two {
    font-weight: 500;
}
.change-text {
    text-transform: uppercase;
}
.change-weight {
    font-weight: 200;
}
.logo{
	width:450px;
	height:450px;
	
}
.Technology_and_Security{
	text-align:center;
}
h4.py-2 {
    color: #4cab2d;
}
.icon i{
	font-size:100px;
	
}
.icon{
	text-align:center;
}
.lineheight{
	width:200px;
}
.media i{
	font-size:100px;
}
.text-center {
    text-align: center!important;
    font-size: 42px;
    color: white;
	font-family: 'Raleway', sans-serif;
}
.paragraph h4 {
    font-size: 18px;
    line-height: 35px;
    font-weight: 400;
}

.paragraph {
    padding-right: 26px;
}
.about_us{
	text-align:center;
}
.about_us h2{
	text-align:center;
}
h2.center-text {
    text-align: center;
    font-weight: bold;
}
.PGP_Encryption{
    text-align: center;
    
}
.PGP_Encryption h2 {
    text-align: center;
    font-weight: bold;
}
.PGP_Encryption a {
    text-decoration:none;
	list-style:none;
	color:red;
	text-align:center;
	padding:10px;
	background:blue;
}
.PGP_Encryption a {
    text-decoration: none;
    list-style: none;
    color: #fff;
    text-align: center;
	font-weight:bold;
    padding: 10px 60px;
   background-image: linear-gradient(to right, #aa9566, #a09864, #959a64, #889d66, #7a9f6b, #639e76, #4b9c83, #339990, #2190a0, #3885a6, #5778a2, #706b94);
    border-radius: 20px;
}
.footer_text > span {
    margin-left: 11px;
}

.contact {
    margin-bottom: 50px;
}
.bg-color {
    background: #4a19bc;
}
.footer_text{
	color:#fff;
	padding:18px 0;
	text-align:center;
	margin-bottom:0;
}
.contact-box a {
    border: 2px #4a19bc solid;
    padding: 0px 30px;
    display: inline-block;
    margin: 20px 0;
    color: #fff;
    border-radius: 0;
    height: 53px;
    line-height: 47px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    background: #4a19bc;
    text-decoration: none;
}

.contact-box.py-5 {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    background:#111011;
}
.contact-box h4 {
    color: #fff;
}
.contact-box h2 {
    color: #fff;
}

/*BACK TO TOP BUTTON*/
#scroll {
    position:fixed;
    right:10px;
    bottom:10px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:#3498db;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px;
	background: #4a19bc;
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff;
}
#scroll:hover {
    background-color: #6d41a7;
    opacity: 1;
    filter: "alpha(opacity=100)";
    -ms-filter: "alpha(opacity=100)";
}
.media-body {
    background: #fff;
    padding: 28px;
    color: #000;
    border: 1px #ddd solid;
    border-radius: 5px;
    min-height: 367px;
    box-shadow: 3px 10px 17px #ddd;
}
.services_center .media-body h4 {
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 22px;
    color:#3a393c;
}
.media-body p {
    font-size: 15px;
    line-height: 27px;
    letter-spacing: 1px;
    color: #323133;
}
#features {
    background: #eee;
    padding:70px 0;
}
.contact-box a:hover {
    background: #6d41a7;
    border-color: #6d41a7;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: rgb(74, 25, 188);
}
.bg-color {
    background:#4a19bc;
}
.bg-color-white {
    background: #fff;
}
.feature-box {
    padding: 18px;
    background: #fff;
    border-radius: 5px;
    min-height: 220px;
    box-shadow: 11px 11px 12px #d6d4db;
}
.servics_center.text-center {
    color: #000;
    font-weight: bold;
	text-transform:uppercase;
}
.change-color{color: #3f00c5;}

.background_clr {
    padding:75px 0;
    margin: 50px 0;
    background: #eee;
}
.about-company-info h5 {
    font-size: 18px;
    line-height: 35px;
    font-weight: 400;
}
.about-company-info {
    padding-left: 25px;
}
a.navbar-brand.text-white img {
    max-width: 200px;
}
@media only screen and (min-width:992px) and (max-width:1024px){
.media-body {
    padding:20px;
    min-height: 396px;
}
.about-company-info h5, .paragraph h4  {
    font-size: 19px;
    line-height:28px;
}

}
@media only screen and (max-width:1024px){
.headline-text {padding: 250px 0;line-height: 57px;font-size: 39px;}
.image-card h6 {font-size: 20px;margin: 29px 0px;}
.text-center { font-size: 36px;}	
.services_center .media-body h4 {font-size: 19px;}
.image-card img {
    max-width: 355px;
}
.paragraph h4 {
    font-size: 16px;
    line-height: 23px;
    
}
.about-company-info h5 {
    font-size: 16px;
    line-height: 23px;
   
}
.media-body { padding: 15px 15px; min-height: 515px;}
}


@media only screen and (max-width:767px){
	.media-body{height:auto;}
.image-card img {width: 217px;max-width: 100%;}
.gradient_bg {padding: 30px 0 30px;margin: 20px 0 0;}
.headline-text {padding: 180px 0;line-height:48px;font-size:30px;}	
.image-card h6 {font-size: 15px;letter-spacing: 0;margin: 29px 0px;}
#features { padding: 55px 0; margin: 0 !important;}
.text-center {font-size: 28px;}	
.feature-box p {font-size: 15px;}
.feature-box {margin-bottom: 20px;}
#features {padding: 35px 0;}
.media.my-5 { margin-bottom: 0px !important;}
.services_center .media-body h4 {font-size: 19px;}
.paragraph h4 {font-size: 15px;line-height: 29px;margin-bottom: 30px;}
.paragraph {padding-right: 0;}
.solutions.bg-light {margin-bottom: 60px;}
.background_clr {padding:45px 0;margin: 50px 0;}
.about-company-info {padding-left: 0;margin: 20px 0 0;}
.about-company-info h5 {font-size: 15px;line-height: 29px;}
.background_clr {padding:45px 0;margin:50px 0 20px;}
.contact-box a {font-size: 14px;}
.contact-box.py-5 {padding: 7px 13px;}
.contact-box h4 {font-size: 18px;}
section#contact .col-md-12.py-5 {padding: 20px 0 !important;}
.header_img_text{    height: 520px;}
.navbar-light .navbar-toggler{border:0;}
button.navbar-toggler.collapsed:focus {outline: 0;border: 0;}
.media.my-5 {margin-top: 20px !important;}	
}




